body {overflow: auto;}
.header { background:#3b68a2; width:100%; position:fixed; height:80px; overflow:inherit; }
.header .logo { padding-top:10px; text-align:center; padding-bottom:0; border-bottom:0; margin-right:0; }
.header .logo img { width:140px; height:auto; }

.maiMenu .menuMobile { display:block; background:url(../images/icone-abre-menu.png) no-repeat 0 0; width:29px; height:27px; overflow:hidden; text-indent:-99999px; }
.maiMenu .menuMobile.ativado { background:url(../images/icone-abre-menu-2.png) no-repeat 0 0; }
.contatoMobile { display:block; background:url(../images/icone-telefone-mobile.png) no-repeat 0 0; width:41px; height:39px; overflow:hidden; text-indent:-999999px; position:absolute; top:20px; right:10px; }

.maiMenu { position:absolute; top:27px; left:25px; z-index:100000;}
.linksMenu { display:none; background-color:rgba(53,93,145,0.95); border-radius:0; overflow:auto; position:fixed; width:100%; height:100%; left:0; top:80px; z-index:10000000!important; }
.linksMenu li { display:block; height:70px; border-bottom:2px groove #6c8eb9; margin-right:2px; text-align:left; font-size:0.9em; overflow:hidden; }
.linksMenu li:nth-last-child(1) {border-bottom:0; display:none; }
.linksMenu li:nth-last-child(2) {border-bottom:0; }
.linksMenu li a { display:block; border-left:0; padding-left:10px; line-height:5.5em; color:#FFF; text-decoration:none; font-weight:normal; transition:all ease 0.5s; width:auto; background-repeat:no-repeat; background-position:90% 50%; }
.linksMenu li a:hover, .linksMenu li.ativado a, .linksMenu li.current-menu-item a {border-left:0 solid #61abeb; padding-left:10px; font-weight:bold; background-color:transparent; }
.linksMenu li.patrimonial a { background-image:url(../images/icone-patrimonial-menu.png); }
.linksMenu li.eletronica a { background-image:url(../images/icone-eletronica-menu.png); }
.linksMenu li.docecm a { background-image:url(../images/icone-documentos-menu.png); }
.linksMenu li.monitoramento a { background-image:url(../images/icone-monitoramento-menu.png); }

.container { width:auto; margin-left:0; position:relative; padding-top:80px; }

.header-fixo { position:absolute; width: 100%; z-index: 2; left: 0; bottom:0;}
.internas .header-fixo { background: #FFF; z-index:2; }

.menuGrupoAlgar { display:none; }

.menuPaginas {border-bottom:2px groove #85bae9; width:auto; overflow:hidden; padding-bottom:0px; height:115px; background:#3b68a2; position:absolute; bottom:0; padding-left:0; }

.menuPaginas .mPaginas { float:none; padding-top:0; padding-left:0; }
.menuPaginas .mPaginas .linkMP li { display:inline-block; margin-right:0; text-align:center; padding-top:25px;}

.menuPaginas .mPaginas .linkMP li a { font-size:1.3em; color:#FFF; text-decoration:none; display:block; background:none; padding-right:0; padding-top:50px; }
.internas .menuPaginas .mPaginas .linkMP li a { font-size:1.3em; color:#FFF; text-decoration:none; display:block; background:none; padding-right:0; padding-top:50px; }
.internas .menuPaginas .mPaginas .linkMP li a:hover, .internas .menuPaginas .mPaginas .linkMP li.ativado a, .internas .menuPaginas .mPaginas .linkMP li.current-menu-item a { color:#f1c830; }

.menuPaginas .mPaginas .linkMP li.pmes a { background:url(../images/icone-pme.png) no-repeat center top; }
.menuPaginas .mPaginas .linkMP li.pmes a:hover, .menuPaginas .mPaginas .linkMP li.pmes.ativado a, .menuPaginas .mPaginas .linkMP li.pmes.current-menu-item a { background:url(../images/icone-pme-hover.png) no-repeat center top; }

.menuPaginas .mPaginas .linkMP li.empresa a { background:url(../images/icone-empresa.png) no-repeat center top; }
.menuPaginas .mPaginas .linkMP li.empresa a:hover, .menuPaginas .mPaginas .linkMP li.empresa.ativado a, .menuPaginas .mPaginas .linkMP li.empresa.current-menu-item a { background:url(../images/icone-empresa-hover.png) no-repeat center top; }

.menuPaginas .mPaginas .linkMP li.residencial a { background:url(../images/icone-residencial.png) no-repeat center top; }
.menuPaginas .mPaginas .linkMP li.residencial a:hover, .menuPaginas .mPaginas .linkMP li.residencial.ativado a, .menuPaginas .mPaginas .linkMP li.residencial.current-menu-item a { background:url(../images/icone-residencial-hover.png) no-repeat center top; }

.menuPaginas .mPaginas .linkMP li.industrial a { background:url(../images/icone-industrial.png) no-repeat center top; }
.menuPaginas .mPaginas .linkMP li.industrial a:hover, .menuPaginas .mPaginas .linkMP li.industrial.ativado a, .menuPaginas .mPaginas .linkMP li.industrial.current-menu-item a { background:url(../images/icone-industrial-hover.png) no-repeat center top; }

.menuPaginas .mPaginas .linkMP li.rural a { background:url(../images/icone-rural.png) no-repeat center top; }
.menuPaginas .mPaginas .linkMP li.rural a:hover, .menuPaginas .mPaginas .linkMP li.rural.ativado a, .menuPaginas .mPaginas .linkMP li.rural.current-menu-item a { background:url(../images/icone-rural-hover.png) no-repeat center top; }

.menuPaginas .mPaginas .linkMP li.condominios a { background:url(../images/icone-condominio.png) no-repeat center top; }
.menuPaginas .mPaginas .linkMP li.condominios a:hover, .menuPaginas .mPaginas .linkMP li.condominios.ativado a, .menuPaginas .mPaginas .linkMP li.condominios.current-menu-item a { background:url(../images/icone-condominio-hover.png) no-repeat center top; }

.menuPaginas .buscaSite { display:none; }

.mainContent { width:100%; position:relative; padding-bottom:117px; min-height:329px; padding-top:0;}
@media (min-width: 768px) {
	.mainContent { min-height:727px; }
}
@media (min-width: 600px) {
	.mainContent { min-height:727px; }
}
@media (min-width: 604px) {
	.mainContent { min-height:690px; }
}
.internas .mainContent { width:100%; position:relative; padding-bottom:117px; min-height:329px; overflow:hidden; height:auto; z-index:1;}

span.no-mobile {display:none; }
p.no-mobile {display:none; }

/* Slider Parallax */
.caption-slide { width:auto; height:auto; color:#FFF; position:relative; left:0; top:0; padding:30px; }
.caption-slide h2 { font-size:1.3em; font-weight:bold; margin-bottom:20px; }
.mainContent .slider .slide .caption-slide p { display:none; }
.mainContent .slider .slide .caption-slide a.link-slide {background-size: 10px; font-size: 14px!important; padding-left: 20px;}

/* Footer */
.footer { width:100%; background-color:#3b68a2; margin:0; height:60px; position:relative; right:0; bottom:0; display:block; z-index:2;}
.footer .logoRodape {width:auto; margin:0 auto; padding-top:20px; text-align:center}
.footer .logoRodape img {width:140px; height:auto; }
.footer .logoRodape a { color:#FFF; text-decoration:none; font-size:24px; }

/* Páginas Internas */
.contentTextos { margin-left:30px; margin-top:30px; margin-right:30px; max-width:100%; height:auto; min-height:100%;}
.contentTextos h2 { color:#3b68a2; font-weight:bold; font-size:2em; margin-bottom:10px; }
.contentTextos p { color:#3b68a2; font-size:1.1em; line-height:150%; padding-bottom:15px; text-align:left; }
.contentTextos blockquote p { color:#3b68a2; font-style:italic; font-size:1.3em!important; margin-bottom:15px; padding-bottom:0; line-height:normal; text-align:left; }

.listSegmento { display:none; }

.listSegmentoMobile { display:block; margin-bottom:15px; margin:0 30px 30px; border-bottom:2px groove #6c8eb9; }
.listSegmentoMobile li { display:block; font-size:0.9em; text-align:left; color:#3b68a2; border-top:2px groove #6c8eb9; background:url(../icones/arrow-seta-lado.png) no-repeat 95% 50%; }
.listSegmentoMobile li a { display:block; color:#3b68a2; text-decoration:none; padding-top:0; text-align:left; min-width:38px; background-position:5% 50%; background-repeat:no-repeat; background-size:38px; height:48px; overflow:hidden; background-color:transparent; line-height:300%; padding-left:20%; }
.listSegmentoMobile li.icon-eletronica a { background-image:url(../icones/icone-page-eletronica.png); }
.listSegmentoMobile li.icon-monitoramento a { background-image:url(../icones/icone-page-monitoramento.png); }
.listSegmentoMobile li.icon-documental a { background-image:url(../icones/icone-page-documental.png); }
.listSegmentoMobile li.icon-patrimonial a { background-image:url(../icones/icone-page-patrimonial.png); }

.img-destaque { display:none; }
.img-destaque-mobile { display:block; width: 50%; height: auto; left: 0; top:0; position: relative; text-align: center; margin: 0 auto; /* padding: 0 30%; */}
.img-destaque-mobile img {width:90%; height:auto; display:block; }
#patrimonial .img-destaque-mobile, #docecm .img-destaque-mobile, #eletronica .img-destaque-mobile, #monitoramento .img-destaque-mobile { display:none; }



.popup-contato { display:none; }

/* Página Agente Cuida */
.coluna-left { width:100%; float:none; }
.coluna-right { width:100%; float:none; }

.coluna-right .contentTextos { margin-left:30px; max-width:683px; }

.mapa-onde-estamos { display:none; }

.lista-onde-estamos { display:block; border-bottom:0; margin-bottom:40px; }
.lista-onde-estamos h3 { background:url(../icones/arrow-seta-lado.png) no-repeat 90% 50% #FFF; color:#3b68a2; font-weight:bold; text-transform:uppercase; padding:20px 20px; font-size:1.3em; border-bottom:1px groove #6c8eb9; cursor:pointer; margin:0 9px; }
.lista-onde-estamos h3:last-child { border-bottom:0; }
.lista-onde-estamos h3.ativado { background:url(../icones/arrow-seta-baixo.png) no-repeat 90% 50%; color:#3b68a2; }
.lista-onde-estamos div { padding:20px 70px; display:none; }
.lista-onde-estamos div p { margin-bottom:15px; color:#3b68a2; }
.lista-onde-estamos div p span { text-decoration:underline; }
.lista-onde-estamos div p a { color:#61abeb; text-decoration:none; }

/* Internas Serviços */
.icon-mobile { display:block; text-align:center; padding-bottom:20px; }

/* Lista de Soluções */
.listaSolucoes { margin:30px 0; /*border-top:2px groove #557cae;*/ }
.listaSolucoes li { display:block; width:100%; margin-right:0; height:auto; }
.listaSolucoes li a { display:block; font-size:0.98em; text-decoration:none; color:#3b68a2; text-align:left; position:relative; padding-top:15px; height:45px; text-transform:uppercase; padding-left:72px; padding-right:38px; /*border-bottom:2px groove #557cae;*/ border-bottom:2px solid #3b68a2; cursor:pointer; }
.listaSolucoes li .toltip { display:none; position:relative; background:inherit; border-radius:0; padding:20px; top: inherit; right: inherit; width:auto; z-index:10000; }
.listaSolucoes li .toltip .pointer-toltip { display:none;}
.listaSolucoes li .toltip p { color:#47719d; text-align:left; font-size:1em; margin:0; padding:0; }
.listaSolucoes li:hover .toltip { display:none; }

.listaSolucoes li.ativado a { display:block; font-size:0.98em; text-decoration:none; color:#47719d; text-align:left; position:relative; padding-top:15px; height:45px; text-transform:uppercase; padding-left:100px; padding-right:38px; border-bottom:0; }

@media (min-width: 320px) {
	.listaSolucoes li a { padding-left:72px; }
	.listaSolucoes li.ativado a { padding-left:72px; }
}

.listaSolucoes li a.cpi { background:url(../icones/arrow-seta-lado.png) no-repeat 97% 50%, url(../icones/icone-cpi.png) no-repeat 5% 50% #FFF; }
.listaSolucoes li.ativado a.cpi { background:url(../icones/cursor-lista-mobile-aberto-2.jpg) no-repeat 97% 50%, url(../icones/icone-cpi.png) no-repeat 5% 50% transparent; }

.listaSolucoes li a.vpr { background:url(../icones/arrow-seta-lado.png) no-repeat 97% 50%, url(../icones/icone-vpr.png) no-repeat 5% 50% #FFF; }
.listaSolucoes li.ativado a.vpr { background:url(../icones/cursor-lista-mobile-aberto-2.jpg) no-repeat 97% 50%, url(../icones/icone-vpr.png) no-repeat 5% 50% transparent; }

.listaSolucoes li a.cftvip { background:url(../icones/arrow-seta-lado.png) no-repeat 97% 50%,url(../icones/icone-cftvip-m.png) no-repeat 5% 50% #FFF; }
.listaSolucoes li.ativado a.cftvip { background:url(../icones/cursor-lista-mobile-aberto-2.jpg) no-repeat 97% 50%, url(../icones/icone-cftvip-m.png) no-repeat 5% 50% transparent; }

.listaSolucoes li a.cda { background:url(../icones/arrow-seta-lado.png) no-repeat 97% 50%,url(../icones/icone-ca.png) no-repeat 5% 50% #FFF; }
.listaSolucoes li.ativado a.cda { background:url(../icones/cursor-lista-mobile-aberto-2.jpg) no-repeat 97% 50%, url(../icones/icone-ca.png) no-repeat 5% 50% transparent; }

.listaSolucoes li a.bp { background:url(../icones/arrow-seta-lado.png) no-repeat 97% 50%,url(../icones/icone-bp-m.png) no-repeat 5% 50% #FFF; }
.listaSolucoes li.ativado a.bp { background:url(../icones/cursor-lista-mobile-aberto-2.jpg) no-repeat 97% 50%, url(../icones/icone-bp-m.png) no-repeat 5% 50% transparent; }

.listaSolucoes li a.sam { background:url(../icones/arrow-seta-lado.png) no-repeat 97% 50%,url(../icones/icone-sam-m.png) no-repeat 5% 50% #FFF; }
.listaSolucoes li.ativado a.sam { background:url(../icones/cursor-lista-mobile-aberto-2.jpg) no-repeat 97% 50%, url(../icones/icone-sam-m.png) no-repeat 5% 50% transparent; }

.listaSolucoes li a.termog { background:url(../icones/arrow-seta-lado.png) no-repeat 97% 50%,url(../images/icon-termografia-mobile.png) no-repeat 5% 50% #FFF; }
.listaSolucoes li.ativado a.termog { background:url(../icones/cursor-lista-mobile-aberto-2.jpg) no-repeat 97% 50%,url(../images/icon-termografia-mobile.png) no-repeat 5% 50% transparent; }

.listaSolucoes li a.consu { background:url(../icones/arrow-seta-lado.png) no-repeat 97% 50%,url(../icones/icone-consultoria.png) no-repeat 5% 50% #FFF; }
.listaSolucoes li.ativado a.consu { background:url(../icones/cursor-lista-mobile-aberto-2.jpg) no-repeat 97% 50%, url(../icones/icone-consultoria.png) no-repeat 5% 50% transparent; }

.listaSolucoes li a.audi { background:url(../icones/arrow-seta-lado.png) no-repeat 97% 50%,url(../icones/icone-auditoria.png) no-repeat 5% 50% #FFF; }
.listaSolucoes li.ativado a.audi { background:url(../icones/cursor-lista-mobile-aberto-2.jpg) no-repeat 97% 50%, url(../icones/icone-auditoria.png) no-repeat 5% 50% transparent; }

.listaSolucoes li a.digi { background:url(../icones/arrow-seta-lado.png) no-repeat 97% 50%,url(../icones/icone-digitalizacao.png) no-repeat 5% 50% #FFF; }
.listaSolucoes li.ativado a.digi { background:url(../icones/cursor-lista-mobile-aberto-2.jpg) no-repeat 97% 50%, url(../icones/icone-digitalizacao.png) no-repeat 5% 50% transparent; }

.listaSolucoes li a.gere { background:url(../icones/arrow-seta-lado.png) no-repeat 97% 50%,url(../icones/icone-gerenciamento.png) no-repeat 5% 50% #FFF; }
.listaSolucoes li.ativado a.gere { background:url(../icones/cursor-lista-mobile-aberto-2.jpg) no-repeat 97% 50%, url(../icones/icone-gerenciamento.png) no-repeat 5% 50% transparent; }

.listaSolucoes li a.orga { background:url(../icones/arrow-seta-lado.png) no-repeat 97% 50%,url(../icones/icone-organizacao.png) no-repeat 5% 50% #FFF; }
.listaSolucoes li.ativado a.orga { background:url(../icones/cursor-lista-mobile-aberto-2.jpg) no-repeat 97% 50%, url(../icones/icone-organizacao.png) no-repeat 5% 50% transparent; }

.listaSolucoes li a.ttd { background:url(../icones/arrow-seta-lado.png) no-repeat 97% 50%,url(../icones/icone-tabela-ttd.png) no-repeat 5% 50% #FFF; }
.listaSolucoes li.ativado a.ttd { background:url(../icones/cursor-lista-mobile-aberto-2.jpg) no-repeat 97% 50%, url(../icones/icone-tabela-ttd.png) no-repeat 5% 50% transparent; }

.listaSolucoes li a.treina { background:url(../icones/arrow-seta-lado.png) no-repeat 97% 50%,url(../icones/icone-treinamento.png) no-repeat 5% 50% #FFF; }
.listaSolucoes li.ativado a.treina { background:url(../icones/cursor-lista-mobile-aberto-2.jpg) no-repeat 97% 50%, url(../icones/icone-treinamento.png) no-repeat 5% 50% transparent; }

.listaSolucoes li a.monimg { background:url(../icones/arrow-seta-lado.png) no-repeat 97% 50%,url(../icones/icone-mdei.png) no-repeat 5% 50% #FFF; }
.listaSolucoes li.ativado a.monimg { background:url(../icones/cursor-lista-mobile-aberto-2.jpg) no-repeat 97% 50%, url(../icones/icone-mdei.png) no-repeat 5% 50% transparent; }

.listaSolucoes li a.monialar { background:url(../icones/arrow-seta-lado.png) no-repeat 97% 50%,url(../icones/icone-mdea.png) no-repeat 5% 50% #FFF; }
.listaSolucoes li.ativado a.monialar { background:url(../icones/cursor-lista-mobile-aberto-2.jpg) no-repeat 97% 50%, url(../icones/icone-mdea.png) no-repeat 5% 50% transparent; }

.listaSolucoes li a.manuse { background:url(../icones/arrow-seta-lado.png) no-repeat 97% 50%,url(../icones/icone-mse.png) no-repeat 5% 50% #FFF; }
.listaSolucoes li.ativado a.manuse { background:url(../icones/cursor-lista-mobile-aberto-2.jpg) no-repeat 97% 50%, url(../icones/icone-mse.png) no-repeat 5% 50% transparent; }

.listaSolucoes li a.monigprs { background:url(../icones/arrow-seta-lado.png) no-repeat 97% 50%,url(../icones/icone-moni-gprs-ip.png) no-repeat 5% 50% #FFF; }
.listaSolucoes li.ativado a.monigprs { background:url(../icones/cursor-lista-mobile-aberto-2.jpg) no-repeat 97% 50%, url(../icones/icone-moni-gprs-ip.png) no-repeat 5% 50% transparent; }

.listaSolucoes li a.consurela { background:url(../icones/arrow-seta-lado.png) no-repeat 97% 50%,url(../icones/icone-cro.png) no-repeat 5% 50% #FFF; }
.listaSolucoes li.ativado a.consurela { background:url(../icones/cursor-lista-mobile-aberto-2.jpg) no-repeat 97% 50%, url(../icones/icone-cro.png) no-repeat 5% 50% transparent; }

.listaSolucoes li a.custodia { background:url(../icones/arrow-seta-lado.png) no-repeat 97% 50%,url(../icones/icone-custodia.png) no-repeat 5% 50% #FFF; }
.listaSolucoes li.ativado a.custodia { background:url(../icones/cursor-lista-mobile-aberto-2.jpg) no-repeat 97% 50%, url(../icones/icone-custodia.png) no-repeat 5% 50% transparent; }

.listaSolucoes li a.sistema { background:url(../icones/arrow-seta-lado.png) no-repeat 97% 50%,url(../icones/icone-sistema.png) no-repeat 5% 50% #FFF; }
.listaSolucoes li.ativado a.sistema { background:url(../icones/cursor-lista-mobile-aberto-2.jpg) no-repeat 97% 50%, url(../icones/icone-sistema.png) no-repeat 5% 50% transparent; }

.listaSolucoes li a.controleaf { background:url(../icones/arrow-seta-lado.png) no-repeat 97% 50%,url(../icones/icone-controle-af.png) no-repeat 5% 50% #FFF; }
.listaSolucoes li.ativado a.controleaf { background:url(../icones/cursor-lista-mobile-aberto-2.jpg) no-repeat 97% 50%, url(../icones/icone-controle-af.png) no-repeat 5% 50% transparent; }

.area-cliente { display:block; margin:0 -30px; }
.area-cliente a { display:block; font-size:1.8em; font-weight:bold; text-decoration:none; color:#FFF; position:relative; padding-top:18px; height:42px; text-transform:uppercase; padding-left:0; padding-right:0; text-align:center; border-bottom:2px groove #679766; background:url(../images/cursor-lista-mobile-fechado.png) no-repeat 90% 50% #4f8c4d; }
.area-cliente-desk { display:none; }

.menuDesliza {display: block; position: fixed; height: 100%; z-index: 1; background: #355d91; width: 100%; overflow: auto;}
.menuDesliza ul li {display: block; border-bottom: 2px groove #6786ad;}
.menuDesliza ul li a {color:#FFF; font-size: 16px; text-decoration:none; display: block; padding:20px 15px;}
.menuDesliza ul li ul {display: none; }
.menuDesliza ul li ul li {border-bottom: 0; background: #61abeb;}
.menuDesliza ul li ul li a {color:#FFF; padding-left:30px; padding-top: 10px; padding-bottom: 10px;}

a.btn.btn-primary {
	border-style: solid;
	border-width: 0;
	border-color: rgb(31, 27, 26);
	border-radius: 5px;
	background-color: #61abeb;
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.004);
	width: 125px;
	height: 25px;
	color: #FFF;
	font-family: 'dax', sans-serif;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	display: block;
	text-align: center;
	padding-top: 10px;
}